.App {
  /*text-align: center;*/
  background-color: black;
}
.App-body{
background-color: #282c34;
max-width: calc(100% - 100px);
min-width: calc(100% - 300px);
width: 80%;
margin-left: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: white;
}

.sideBar{
  min-width: 100px;
  max-width: 300px;
  width: 20%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  align-items: right;
  text-align: center;
}

.menuButton{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: none;
  background-color: white;
  color:black;
  border: 2px solid grey;
  font-size: 2vh;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}.menuButton:hover{
  background-color: grey;
  color:white;
}

.column {
  float: left;
  width: 33.33%;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

#characteristic{
  min-width: 8vw;
}
.newSection{
  margin-top: 5px;
}